<a href="https://colab.research.google.com/github/rroopesh/roo/blob/master/String_and_problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Strings")
print(48=="0")
#python allows ASCII and unicode like emojies

print("hina\nclass") #\n new line
print("hina\tclass") #\t new tab space

ord('A') # To check unicode value assigned


# Take a String as an input print all the characters in a new line
input = 'chandan'
for i in input:
    print(i)

#print everything in same line
input = 'chandan'
for i in input:
    print(i, end = ' ')

# print the first and last character of my string
# we have indexing in list
#       01234567 or from reverise is -8-7-6-5-4-3-2-1
name = 'rroopesh'
print(name[0])
print(name[-1])
print(name[0], name[-1])

# How to check total number of characters present in my string

name = 'rroopesh'
len(name)

print(len(name*3))

#concatination
a = 'haha'

a+a+a #'hahahahahaha'

a*5 #'hahahahahahahahahaha'

#String Slicing

lst = [1,2,3,4,5]
lst[1:3] # In list start from 0 so 1 is 2 , end value is exclusive so its 3


s = "my name is sanchi"
#first 10 characters
s[:10] # Here start=0 , end = 9
#'my name is'

#last 5 characters
s[-5:] #default it will take length of the string

#print reverse of a string
s[::-1]

#palindrome
b = 'madam'
b[::-1]

#Give a string we have to tell wheather the given string is palindrome or not "Everything in lowercase"

s = 'rroopesh'
print(s==s[::-1])
t = 'level'
print(t == t[::-1])

#Mutability
#change values in string

l = ["Hina", "sharama"]
print(l[0][-1])


#problem Take a string as input print ascii/unicode value of that string

name = "jeffthomasan"
for i in name:
    print( i,"\t", ord(i))

# New Section

# New Section

In [ ]:
#or input()

user_input = input()
print(user_input)

String as my input
String as my input

# problem : given a string , count the number of uppercase letters in it

In [ ]:
l = "IndiaRocks"
count = 0
for i in l:
  if i.isupper():
    count = count + 1
print(count)

2

In [ ]:
l = "IndiaRocks"
count = 0
for i in l:
  if i >= 'A' and i <= 'Z':
    count = count + 1
print(count)

2

Count LowerCase

In [ ]:
l = "IndiaRocks"
count = 0
for i in l:
  if i.islower():
    count = count + 1
print(count)

8

Convert everything in given string in lowercase

In [ ]:
l.lower()

'indiarocks'

In [ ]:
l.upper()

'INDIAROCKS'

In [ ]:
def mystery(s):
  i = len(s)//2
  a = s[:i]
  b = s[i:]
  return a.upper() + b.lower()

In [ ]:
mystery("IndiaRocks")

'INDIArocks'

Problem Description

You are given lowercase string (A) and you have to tell the count of vowels and consonants in it.
Input 1:

interviewbit
Output 1:

[5 7]

In [ ]:
class Solution:

    def solve(self, A):
        Vowels = [ "a", "e", "i", "o", "u" ]
        count = 0
        for i in A:
            if i in Vowels:
                count = count + 1
            consonants = len(A) - count
        return [count, consonants]

In [ ]:
a = "Rroopesh"
a[::-1]

'hsepoorR'

In [ ]:
# prompt: You have to return string which is reverse form of input string.

def reverse_string(input_string):
  """Reverses the given string.

  Args:
    input_string: The string to reverse.

  Returns:
    The reversed string.
  """
  return input_string[::-1]

# Example usage:
string_to_reverse = "hello"
reversed_string = reverse_string(string_to_reverse)
print(f"The reversed string is: {reversed_string}")

**Formatting**

In [ ]:
name = "abdul"
age = 18
print(f"my name is {name} and my age is {age}")

my name is abdul and my age is 18

In [ ]:
name = 'Emma Watson'
age = 32
print("Hey my name is {}, and my age is {}.".format(age))

IndexError: Replacement index 1 out of range for positional args tuple

write your own custom function to get the number of characters in the given string without using len()

In [ ]:

def get_lenth(s):
    count = 0
    for i in s:
        count = count + 1
    return count

In [ ]:
get_lenth('Rroopesh Hari')

13

In [ ]:
s = 'Rroopesh Hari'
s.startswith('R')

True

In [ ]:
s.endswith('i')

True

**Functions**

In [ ]:
b = " Rroopesh     "
b.strip()

'Rroopesh'

In [ ]:
b.lstrip()

'Rroopesh     '

In [ ]:
b.rstrip()

' Rroopesh'

In [ ]:
s = "rroopesh"
s.title()

'Rroopesh'

In [ ]:
s.lower()
s.upper()

'RROOPESH'

**In Operator**

In [ ]:
s ='abcdef'
'bc' in s

True

In [ ]:
n = 'rroopesh'
s in n

False

In [ ]:
q = ['a', 'b', 'c', 'e', 'f']
q in n

TypeError: 'in <string>' requires string as left operand, not list

In [ ]:
'oo' in n

True

In [ ]:
'a' in q

True

**Index**

In [ ]:
s = 'rroopesh'
s.index('e')

5

In [ ]:
def expand(x):
  res = ''
  for i in x:
    res = res + i
  return res*3

In [ ]:
expand(['a', 'b', 'c'])

'abcabcabc'

In [ ]:
lst = ['a', 'b', 'c', 'd']
for i in lst:
  print(i, end = '')

abcd

In [ ]:
s = "1 2 3 4 5"
s.split()

['1', '2', '3', '4', '5']

In [ ]:
ls = "1,2,3,4,5"
ls.split()
#It will take space as the seportor

['1,2,3,4,5']

In [ ]:
# list of string
l = ['1','2','3','4','5']
''.join(l)

'12345'

In [ ]:
# list of string
l = ['1','2','3','4','5']
','.join(l)

'1,2,3,4,5'

isdigit()
checking the string or char is uppercase or lowercase will give true or Falase

Count the digits present in the string

In [ ]:
s = '1ajsdh9cfakjf6hajn3cmasnc4n6bzmcnm7dasncv7ns6'
count = 0
for i in s:
  if i.isdigit():
    count = count+1
print(count)

9

Convert uppercase to lowercase without using lower() method

In [ ]:
s = 'InDia'
res = ''
for i in s:
  if i.isupper():
    res = res + chr(ord(i) + 32)
  else:
    res = res + i
print(res)

In [ ]:
# prompt: class Solution:
#     # @param A : string
#     # @param B : integer
#     # @return an integer
#     def solve(self, A, B):
#         count = 0
#         for i in A:
#             if i.char(ord(i)) == B:
#                 count = count + 1
#             else:
#                 return -1
# You are given a character string A, having length N and an integer ASCII code B.
# You have to tell the leftmost occurrence of the character having ASCII code equal to B, in A or report that it does not exist.

def count_lines(filename):
  """Counts the number of lines in a file.

  Args:
    filename: The path to the file.

  Returns:
    The number of lines in the file.
  """
  try:
    with open(filename, 'r') as file:
      line_count = 0
      for line in file:
        line_count += 1
      return line_count
  except FileNotFoundError:
    print(f"Error: File not found '{filename}'")
    return 0

# Example usage:
filename = 'filename.txt'
line_count = count_lines(filename)
print(f"The file '{filename}' has {line_count} lines.")

In [ ]:
A = 'abcdaaaaaa'
B = 97
count = 0
for i in A:
  if ord(i) == B:
    count = count + 1
  else:
    print(-1)
print(count)

-1
-1
-1
7

In [ ]:
# prompt: return -1 only if there is no string exisit in A when comparing with B

A = 'abcdaaaaaa'
B = 'a'
if B in A:
  print(1)
else:
  print(-1)

1

In [ ]:
# prompt: print ascii code of a character

# problem : given a string , print ascii value of each character
name = "jeffthomasan"
for i in name:
    print( i,"\t", ord(i))

j 	 106
e 	 101
f 	 102
f 	 102
t 	 116
h 	 104
o 	 111
m 	 109
a 	 97
s 	 115
a 	 97
n 	 110

In [ ]:
# prompt: If there exists an occurrence, return the leftmost index(0 - based), else return -1.
# Input 1:
#  A = "aabbcc"
#  B = 98
# Input 2:
#  A = "abc"
#  B = 100
# Example Output
# Output 1:
#  2
# Output 2:
#  -1

def leftmost_index(A, B):
  """
  Finds the leftmost index of a character in a string.

  Args:
    A: The input string.
    B: The character to search for.

  Returns:
    The leftmost index of the character in the string, or -1 if not found.
  """
  try:
    return A.index(chr(B))
  except ValueError:
    return -1


# Example usage:
A1 = "aabbcc"
B1 = 98
result1 = leftmost_index(A1, B1)
print(f"Output 1:\n{result1}")

A2 = "abc"
B2 = 100
result2 = leftmost_index(A2, B2)
print(f"Output 2:\n{result2}")

Output 1:
2
Output 2:
-1

In [ ]:
A = 'abcdaaaaaa'
B = 97
count = 0
for i in A:
  if ord(i) == B:
    count = count + 1
  else:
print(count)

IndentationError: expected an indented block after 'else' statement on line 7 (<ipython-input-11-3a3685dc89c3>, line 8)

In [ ]:
n = int(input()) # int
x = input() # string
l = x.split() # gives in list ['1','2'...]
res = []
for i in l:
  res.append(int(i))
print(res)

1234
1234
[1234]

Problem : i want to get ['1','2','3', '4', '5']
in output of [5, 1, 2, 3, 4, ]

Map function

In [ ]:
x = input()
l = x.split()
res = list(map(int, l))
print(l)
print(res)

12345
['12345']
[12345]

In [ ]:
n = int(input())
res = list(map(int, input().split()))
last_ele = res.pop()
print(last_ele)
res.insert(0,last_ele)
for i in res:
  print(i, end = ' ')

5
12345
12345
12345

In [ ]:
n = int(input())
res = list(map(int,input().split()))
a = res[-1:]+res[0:-1]
for i in a:
  print(i, end = ' ')

4
12345
12345

In [ ]:
n = int(input())  # Number of digits
input_numbers = input()  # e.g., "12345"

# Convert each character into an integer and form a list
res = list(map(int, list(input_numbers)))

# Rotate the list
a = res[-1:] + res[:-1]

# Print the result
for i in a:
    print(i, end='')

5
12345
51234

In [ ]:
n = int(input())  # Number of digits
input_numbers = input()  # e.g., "12345"

# Convert each character into an integer and form a list
res = list(map(int, list(input_numbers)))
for i in range(len(res)):
  print(res[i-1],end = ' ')

5
12345
5 1 2 3 4

2. First and last index

A = [-2, -2, 4, 4, 8, 9]
B = 4

first index is 2 where is equal to 4. and Last index is 3 where last index 3 which has 4 ]

Output = [2,3]


---

In [ ]:
A = [1, 3, 5, 9, 10, 21, 9]
B = 9
res = []
for i in range(len(A)):
  if A[i] == B:
    res.append(i)
print(res)

[3, 6]

But if we have mutiple 9 and we need to print first and last of 9

In [ ]:
def first_and_last_index(A, B)

Inverse of index element = [0,A)
     0,1,2,3
A = [3,1,0,2]
     0,1,2,3
B = [2,1,3,0]

Shopping list items

keep a track of items for shopping list
programming should keep asking for new item input unitil "end" is entered print the full list at the end

input :
Notebooks
shoes
perfume
shoes
end
output : ['Notebooks','shoes','perfume','shoes',]

In [ ]:
shoplist = []
while True:
  item = input()
  if item == 'end':
    break
  else:
    shoplist.append(item)
print(shoplist)

a
b

c
d
end
['a', 'b', '', 'c', 'd']

given metrix is idenity metrix or not

idenity metrix condition

1. no of rows = no of columns
2 diagonal element = 1
3 non diaginal elemnt = 0

So check wheather given matrix is idenity matrix or not

In [ ]:
def idenity_matrix(A):
  R = len(A)
  C = len(A[0])
  for i in range(R):
    for j in range(C):
      if R != C:
        return False
      if i ==j and A[i][j] !=1:
        return False
      if i !=j and A[i][j] != 0:
        return False
  return True

In [ ]:
idenity_matrix([[1,0,0],[0,1,0],[1,0,1]])

False

Round the value of a real function of a number integer. Create a function for it

In [ ]:
import math
def solve(A):
  A/=200
  if A>=0:
    A+=0.5
  else:

Positive number

6 -> 1,2,3 sum of the positive disvisors
8-> 1,2,4 sum of / exlecute the number it self

In [ ]:
def perfect_number(n):
  sum = 0
  for i in range(1,n): # 1 to n-1
    if n % i == 0:
      sum = sum + i
  if sum == n:
    return True
  else:
    return False

In [ ]:
perfect_number(6)

True

In [ ]:
perfect_number(7)

False

Pattern printing

In [ ]:
def star(n):
  for i in range(1,n+1):
    for j in range(i, n+1):
      if i == j  or j==n or i==1:
        print('*',end = ' ')
      else:
        print(' ',end = ' ')
    print()